<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn OpenAI with GPT sample</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-header">
        <div class="chat-header-left">Learn OpenAI with GPT sample</div>
      </div>
      <div class="chatbox" id="chatbox"></div>
      <div class="chat-input-container">
        <!-- <input type="text" id="input" placeholder="Type your message here" /> -->
        <textarea id="input" placeholder="Send a message" wrap="hard"></textarea>
        <button type="button" id="submit-button">Send</button>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>